%h1= t('activerecord.models.settlement.other')
- @users.each do |u|
  %div.unsettled_orders{ :id => "user_#{ u.id }" }
    - settlement = Settlement.find(:all, :conditions => { :finished => nil, :user_id => u.id }).last
    - settlement = Settlement.new( :user_id => u.id ) if settlement.nil?
    = render :partial => settlement
