%h2= t('activerecord.models.role.other')

/%p= link_to((t :new), new_role_path, :class => 'links')

%table
  %tr
  - @roles.each do |r|
    %tr
      %td
        %br
        %a{ :href => edit_role_path(r) }= r.name
        %br
      %td
        = link_to(image_tag('button_small_delete.png', :title => Role.human_attribute_name(:hidden), :alt => Role.human_attribute_name(:hidden), :style => "vertical-align:bottom;padding-top:5px;"), role_path(r), :method => :delete, :confirm => t(:are_you_sure)) unless @current_company.users.existing.where(:role_id => r.id).any?
