*.*~
*.swo
#.*
#*#

*.#
*.sql
*.css
*.swp
*.escpos
*.xcf
*~
*.deb
salor-hospitality/tmp/sass-cache
salor-hospitality/tmp/pids
salor-hospitality/tmp/cache
salor-hospitality/tmp/capybara
salor-hospitality/tmp/sockets
salor-hospitality/public/uploads/images
salor-hospitality/vendor/bundle
salor-hospitality/vendor/plugins
salor-hospitality/.bundle
*.log
*.bill
.sass-cache
*.swn
*.swm
*.kate-swp
sha1-signatures.txt
*.tar.bz2
debian/salor-hospitality
