config/database.yml
*.*~
#.*
#*#
public/uploads/images
*.#
vendor/plugins
*.sql
generic.css
mobile.css
print.css
workstation.css
*.swp
*.escpos
articles.js
*.xcf
*~
config/packages/billgastro-bin/opt
config/packages/billgastro-src/opt
config/packages/publish/debian/db
config/packages/publish/debian/dists
config/packages/publish/debian/pool
*.deb
.bundle
tmp/sass-cache
tmp/pids
vendor/bundle
*.log
*.bill
/nbproject/private/
tmp/cache
tmp/capybara
