*.*~
*.swo
#.*
#*#
public/uploads/images
*.#
vendor/plugins
*.sql
generic.css
mobile.css
print.css
workstation.css
*.swp
*.escpos
articles.js
*.xcf
*~
*.deb
tmp/sass-cache
tmp/pids
*.log
*.bill
tmp/cache
tmp/capybara
.sass-cache
*.swn
*.swm
*.kate-swp
config/debian-package/opt
vendor/bundle
sha1-signatures.txt
*.tar.bz2
