- if @found_foods
  %h4 Suchresultate
  %ul{ :style => 'list-style-type:none;padding-left:0px;' }
    - for article in @found_foods
      %li== #{ link_to article.name, edit_article_path(article) } (#{ number_to_currency article.price })
