- partial = controller.action_name == 'edit' ? '/partials/edit_partial' : '/partials/simple_partial'
- page.partials.each do |par|
  = render :partial => partial, :locals => { :partial => par, :markup => partial_htmls[par.id], :model_id => par.model_id, :presentations => Presentation.existing.where(:model => par.presentation.model) }
