!buttoncolor = #27343b
!itembgcolor = #556
!articlelistbgcolor = #3a474d

div.category
  :width 75px
  :height 75px
  :float left
  :background-repeat no-repeat
  :background-position center center
  :overflow hidden

table#articlestable,
table#itemstable
  :width 100%
  :border-collapse collapse
  td
    :padding 10px 5px

div.category,
td.article,
td.quantity,
td.item_count,
td.item_minus,
td.item_options,
td.item_label
  :border-top 2px solid #555
  :border-left 2px solid #555
  :border-right 2px solid #222
  :border-bottom 2px solid #222
  :background-color = #3a474d

div.category_label
  :width 65px
  :height 65px
  :font-size 12px
  :font-weight bold
  :text-transform uppercase
  :position relative
  span
    :position absolute
    :top 61px
    :left 2px

div#articles
  :clear both

td#article
  :height 40px


td.article,
td.quantity
  :background-color = !buttoncolor
  :height 40px
  :vertical-align middle
  :padding-left 10px



td.item_count
  :cursor pointer
  :width 20%
  :text-align center
  :font-size 150%
  :font-weight bold

td.item_minus
  :width 20%
  :cursor pointer
  :text-align center
  :background-image url(/images/button_ipod_minus.png)
  :background-position center
  :background-repeat no-repeat


td.item_options
  select
    :width 41px
    :height 38px
    :background-image url(/images/button_ipod_check.png)
    :background-repeat no-repeat
    :background-color transparent
    :border 0px
    :color transparent

td.item_label
  :cursor pointer
  :background-color = !articlelistbgcolor
  :min-height 40%

div.handle_for_table
  :background-image url("/images/drag_handle.png")
  :height 20px
  :margin -9px auto 0
  :width 50px

input#order_sum
  :background-color transparent
  :border 0px
  :width 150px
  :font-size 100%
  :color #CCC

div.ordersum_container
  :font-size 200%
  :color #CCC

div#room1_button
  :background-image url(/images/button_ipod_room1.png)

div#room2_button
  :background-image url(/images/button_ipod_room2.png)

div#room3_button
  :background-image url(/images/button_ipod_room3.png)

div#room4_button
  :background-image url(/images/button_ipod_room4.png)

div.bigtablename
  :width 100px
  :height 60px

a
  :text-decoration none

div.table
  a
    :font-size 210%

div.vacant a
  :color #AAA

div.occupied a
  :color white
