!link_color = #700
!error_text = #C00
!lightgray = #EEE
!darkgray = #999
!middlegray = #BBB

//global settings

body
  :font-family sans
  :padding 20px
  :margin 0
  :padding 10px
  :font-size 120%

h1
  :margin 0

h6
  :color green
  :margin 10px 0 0 0
  :font-style italic

a
  :color = !link_color

table
  :font-size small

.textleft
  :text-align left
.textright
  :text-align right

//main layout

#content
  :float left
  :margin-top 10px

.sidebar
  :float right
  :background-color = !lightgray
  :margin-left 20px
  :width 150px
  :padding 20px

#login_logout
  :text-align right
  :font-size small

#sidebar a,
.metanavi a
  :text-decoration none
  &:hover
    :text-decoration underline

.fieldWithErrors
  :display inline
  label
    :color = !error_text

.errorExplanation
  :font-size small
  :color = !error_text
  h2
    :font-size 110%

td
  //:text-align left
  :vertical-align top

fieldset
  :border-style outset
  :background-color = !lightgray

fieldset.new_foods
  :width 280px

fieldset.articles
  :width 280px
  :font-size small

legend
  :font
    :style italic
    :weight bold
    :size small

table
  :border-spacing 0

.metanavi
  :background-color = !lightgray
  :padding 5px
  a
    :margin 5px

label
  :font-size small
  :margin-right 10px

th
  :text-align left

.category
  :background-color = !lightgray

table.settlements
  :font-size 70%
  td
    :width 30px
    :text-align right
    :background-color = !lightgray
    :border
      :right 3px solid white
    :border
      :bottom 1px solid white
  .sum
    :background-color = !middlegray
    :border-top 2px solid
    :font
      :weight bold
    :text-align right
  .colsum
    :background-color = !middlegray
    :font-style italic


  .br
    :border
      :right 3px solid
        :color = !darkgray
  .bb
    :border
      :bottom 3px solid
        :color = !darkgray

  th
    :background-color = !lightgray
    :border-right 3px solid white
    :border-bottom 3px solid white
    :text-align center

table.waiterpad
  :border-spacing 0px
  :font-size 70%
  :font-family Trebuchet MS
  :border 2px solid gray
  :width 190pt
  :float left
  th
    :text-transform uppercase
    :background-color lightgray
    :font-size 80%
  td, th
    :border-bottom 1px solid black
    :height 20pt
    :text-align center
    :vertical-align middle
  .borderright
    :border-right 1px solid black
  tr.logo
    :height 40pt
    td
      :vertical-align top
      :padding-top 25pt

  tr.sum
    :height 40pt
    :background-color lightgray

table.articles td
  :padding-right 30px

div.settlements
  :border 1px solid black

div.table
  :border 1px solid gray
  :padding 0px 0px 0px 0px
  :margin 0
  :padding 9px

div.bigtablename
  :text-align center
  :font-size 150%
  :margin 10px

div.smalltablename
  :background-color #FCC
  :font-size 130%
  :text-align center
  :margin-bottom 5px
  :padding 4px 0 4px 0

span.orderid
  :font-size 150%

.occupied
  :background-color = !lightgray

.vacant
  :background-color = !middlegray

table#items
  th
    :background-color #f5f5f5
  th.count
    :width 90px
  th.article
    :width 500px
  th.checkbox
    :width 80px
  td
    :background-color #f5f5f5
    :padding 3px
    :border-top 2px solid white
    select
      :font-size 150%

span.small
  :font-size 90%

ul#search_results
  :font-size small
  :list-style-type none
  :padding 0
  :margin 0

.hover
  :background-color #FFFFCC
  //:border 2px solid black

ul#articles_search_results
  :padding 0px

ul#menucard_list,
ul#waiterpad_list,
ul#blackboard_list
  :padding 0
  :list-style-type none
  ul
    :list-style-type none
    :padding-left 20px

#restaurant_plan
  :width 1000px
  :height 1000px
  :background-repeat no-repeat
  :position absolute
  :top 200px
  :left 10px

select#order_user_id
  :font-size 110%

div.item_category
  :float left
  :width 75px
  :height 35px
  :margin 3px
  :border 1px solid black
  :background-color #fff1f1
  :font-size 70%
  :text-align center
  :padding 14px 5px 0 5px

div.clear
  :clear both

input.create_edit_order
  :width 80px
  :height 45px
  :background-color #FFAAAA
  :border 1px solid black

select
  :border 1px solid #AAAAAA

div.flash_notice
  :font-size small
  :font-style italic
  :color green
div.flash_error
  :font-size small
  :font-style italic
  :color red
