!link_color = white
!error_text = #C00
!lightgray = #EEE
!darkgray = #999
!middlegray = #444
!background = #333
!adminbackground = #222

//global settings==============================

body
  :font-family Trebuchet MS
  :color #CCC
  :padding 0px
  :margin 0px 30px
  :font-size 85%
  :background-color #0e1d25
  :background-image url('/images/bg.png')
  :background-repeat repeat-x

img
  :border none
  
h1
  :margin 0

h2
  :text-transform uppercase
  :margin 0px

h3
  :text-transform uppercase
  :margin-bottom 0px
a
  :color = !link_color

fieldset
  :border-style outset

legend
  :font
    :style italic
    :weight bold

label
  :margin-right 10px

th
  :text-align left


//main layout ==================================

div#main
  :border 3px solid white
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  :padding 20px
  :background-color #0e1d25
  :min-height 560px
  :width 930px
  :margin auto
  :position relative

div.metaelements
  :float right

div#header
  :height 130px
  :width 970px
  :margin auto
  
div#admin
  :border 3px solid white
  :border-top none
  :margin-left 130px
  :position absolute
  :width 835px
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  
div#functions
  :float right
  :width 4%
  :vertical-align top
  :margin-right 3px
  :padding-top 70px
  a, div
    :cursor pointer
    :margin-bottom 20px

div#footer
  :height 50px
  :clear both

div#functions a
  :cursor pointer

div#footer a
  :float right
  :margin-right 0px
  :cursor pointer

div#login
  :margin auto
  :width 300px
  :margin-top 130px
  label
    :display inline-block
    :margin-bottom -10px
    :font-weight bold
    :width 60px
  
//normal style definitions =============================


div.fieldWithErrors
  :color red
      
div.adminlinks
  :padding 10px

div.adminlinks a,
a.links
  :display inline-block
  :margin-left 1px
  :margin-bottom 5px
  :background-color white
  :-moz-border-radius 3px
  :-webkit-border-radius 3px
  :color black
  :text-decoration none
  :text-transform uppercase
  :font-size 70%
  :padding 4px
  :border 1px solid #666
div.adminlinks a:hover,
a.links:hover
  :background-color = !background
  :color white

a.logout
  :float right


table.settlements
  :border-collapse collapse
  td
    :width 30px
    :text-align right
  .subtotal
    :font
      :weight bold
    :text-align right
  .colsum
    :font-style italic
  .total td
    :border-top 1px solid darkgrey
    :font-weight bold


  th
    :border 1px solid !darkgray
    :text-align center

table.waiterpad
  :border-spacing 0px
  :font-size 70%
  :font-family Trebuchet MS
  :border 2px solid gray
  :width 190pt
  :float left
  th
    :text-transform uppercase
    :background-color lightgray
    :font-size 80%
  td, th
    :border-bottom 1px solid black
    :height 20pt
    :text-align center
    :vertical-align middle
  .borderright
    :border-right 1px solid black
  tr.logo
    :height 40pt
    td
      :vertical-align top
      :padding-top 25pt

  tr.sum
    :height 40pt
    :background-color lightgray

table.articles td
  :padding-right 30px
  :width 190px

div.settlements
  :border 1px solid black

div.table
  :border 1px solid gray
  :padding 0px 0px 0px 0px
  :margin 0
  :padding 9px
  :-moz-box-shadow 0px 0px 8px black
  :-moz-border-radius 6px
  :-webkit-box-shadow 0px 0px 8px black
  :-webkit-border-radius 6px



div.bigtablename
  :text-align center
  :font-size 110%
  :font-weight bold
  :text-transform uppercase
  :height 100%

div.smalltablename
  :background-color #FCC
  :font-size 130%
  :text-align center
  :margin-bottom 5px
  :padding 4px 0 4px 0

span.orderid
  :font-size 150%

div.occupied
  :-moz-box-shadow 0px 0px 8px #35586a
  :-webkit-box-shadow 0px 0px 8px #35586a
  
div.vacant
  :background-color #0d161a
  
div.vacant:hover
  :background-color #192932



span.small
  :font-size 90%

ul#search_results
  :list-style-type none
  :padding 0
  :margin 0

.hover
  :background-color #FFFFCC
  //:border 2px solid black

ul#articles_search_results
  :padding 0px



#restaurant_plan
  :width 1000px
  :height 1000px
  :background-repeat no-repeat
  :position absolute
  :top 200px
  :left 10px





a#toggle_admin_interface
  :cursor pointer
  :position absolute



div.clear
  :clear both



select
  :border 1px solid #AAAAAA

div.flash
  :font-size small
  :font-style italic
  :float right
div.flash_notice
  :color green
div.flash_error
  :color red


//helpers==============================

.textleft
  :text-align left

.textright
  :text-align right

//RAILS styles==============================

.errorExplanation
  :font-size small
  :color = !error_text
  :margin-top 30px
  h2
    :font-size 110%



div.invoice
  :background-color white
  :float left
  :width 320px
  :font-family Monospace
  :font-size 150%
  :color #333
  :padding 30px 10px
  :margin 10px
  :letter-spacing -1.5px
  form
    :min-height 250px
  table
    :border-collapse collapse
    :margin-bottom 20px


tr.simple_invoice
  :cursor pointer
  td
    :padding 6px 0
  
tr.simple_invoice:hover
  :background-color #EEE


input#print_invoice,
input#split_invoice,
input#storno_item,
a#edit_invoice img,
a#go_back img
  :vertical-align middle


  
select#cost_center_for_invoice
  :vertical-align middle
  :font-size 170%
  :width 160px
  
table.detailed_list
  :margin 20px
  :border-collapse collapse
  :color #BBB
  th
    :border 1px solid gray
    :padding 5px 10px
    :color white
  td
    :vertical-align top
    :border-right 1px solid gray
    :padding 0px 10px
  td.order_begin
    :padding 20px 0 5px 10px
    :font-size 120%
    :border none
  td.colsum
    :border none
    :text-align right
  td.number
    :text-align right
  td.subtotal
    :font-size 120%
    :padding-bottom 20px
    :text-align right
    :color white
    :border none
  td.total
    :font-size 150%
    :color white
    :font-weight bold
    :text-align right
    :border none
    
table.article
  td
    :vertical-align top
    
table.articles
  :border-spacing 10px
  td.receiving
    :background-color #304345
  td#drop_remove
    :background-color #304345
    li
      :margin-top 20px
    span.info
      :margin-right 10px
    span.description
    
  td
    :vertical-align top
    :background-color #243239
    :border 1px solid #7e868a
    :padding 10px
    a
      :text-decoration none
    li
      :list-style-type none
    ul
      :list-style-type none
      :padding-left 10px
    span.scope_title
      :text-transform uppercase
      :font-weight bold
    a.scopelink
      :text-decoration underline
      :float right
    p.category_title
      :padding-top 25px
      :margin 0px
      :font-weight bold
      :font-style italic
      
table.article_new
  :background-color #243239
  :border 1px solid #7e868a
  :border-spacing 10px
  td.labels
    :width 125px
  td.input_fields
    :width 280px
  td.spinner
    :width 20px
  td#articles_search_results
    :width 300px
  td
    :vertical-align top
    a
      :text-decoration none
    li
      :list-style-type none
      :padding-top 5px
    ul
      :list-style-type none
      :padding-left 0px
    span.header_search_results
      :text-transform uppercase
      :font-weight bold

table#quantities_new
  :background-color #243239
  :border 1px solid #7e868a
  :border-collapse collapse
  td
    :padding 10px
    
img#logo
  :float right
  :margin-top 50px





div.iconbutton
  :width 50px
  :height 54px
  :margin 5px
  :cursor pointer

a.scrolldown_button
  :position absolute
  :top 15px
  :right 0px

div.scrolldown
  :background-image url(/images/button_ipod_scrolldown.png)

a.scrollup_button
  :position absolute
  :bottom 0px
  :right 0px

div.scrollup_button
  :background-image url(/images/button_ipod_scrollup.png)

div.cancel_button
  :background-image url(/images/button_ipod_cancel.png)

div.tables_button
  :background-image url(/images/button_ipod_tables.png)

div.invoice_button
  :background-image url(/images/button_ipod_invoice.png)
