!link_color = white
!error_text = #C00
!lightgray = #EEE
!darkgray = #999
!middlegray = #444
!background = #333
!adminbackground = #222

//global settings==============================

body
  :font-family Verdana
  :color white
  :padding 0px
  :margin 0px 30px
  :font-size 85%
  :background-color #0e1d25
  :background-image url('/images/bg.png')
  :background-repeat repeat-x

img
  :border none
  
h1
  :margin 0

a
  :color = !link_color

fieldset
  :border-style outset

legend
  :font
    :style italic
    :weight bold

label
  :margin-right 10px

th
  :text-align left


//main layout ==================================

div#main
  :border 3px solid white
  :-moz-border-radius 5px
  :padding 5px
  :background-color #0e1d25
  :min-height 800px


div.metaelements
  :float right

div#header
  :height 140px
  
div#admin
  :border 3px solid white
  :border-top none
  :-moz-border-radius 5px



//normal style definitions =============================

div.fieldWithErrors
  :border 6px solid red
  :-moz-border-radius 3px
      
div.adminlinks
  :padding 10px
  a
    :display inline-block
    :height 15px
    :margin-left 1px
    :margin-bottom 5px
    :background-color white
    :-moz-border-radius 3px
    :color black
    :text-decoration none
    :text-transform uppercase
    :font-size 70%
    :padding 4px
    :border 1px solid #666
  a:hover
    :background-color = !background
    :color white



table.settlements
  :border-collapse collapse
  td
    :width 30px
    :text-align right
  .subtotal
    :font
      :weight bold
    :text-align right
  .colsum
    :font-style italic
  .total td
    :border-top 1px solid darkgrey
    :font-weight bold


  th
    :border 1px solid !darkgray
    :text-align center

table.waiterpad
  :border-spacing 0px
  :font-size 70%
  :font-family Trebuchet MS
  :border 2px solid gray
  :width 190pt
  :float left
  th
    :text-transform uppercase
    :background-color lightgray
    :font-size 80%
  td, th
    :border-bottom 1px solid black
    :height 20pt
    :text-align center
    :vertical-align middle
  .borderright
    :border-right 1px solid black
  tr.logo
    :height 40pt
    td
      :vertical-align top
      :padding-top 25pt

  tr.sum
    :height 40pt
    :background-color lightgray

table.articles td
  :padding-right 30px

div.settlements
  :border 1px solid black

div.table
  :border 1px solid gray
  :padding 0px 0px 0px 0px
  :margin 0
  :padding 9px

div.bigtablename
  :text-align center
  :font-size 150%
  :margin 10px

div.smalltablename
  :background-color #FCC
  :font-size 130%
  :text-align center
  :margin-bottom 5px
  :padding 4px 0 4px 0

span.orderid
  :font-size 150%

.occupied
  :background-color = !lightgray

.vacant
  :background-color = !middlegray



span.small
  :font-size 90%

ul#search_results
  :list-style-type none
  :padding 0
  :margin 0

.hover
  :background-color #FFFFCC
  //:border 2px solid black

ul#articles_search_results
  :padding 0px

ul#menucard_list,
ul#waiterpad_list,
ul#blackboard_list
  :padding 0
  :list-style-type none
  ul
    :list-style-type none
    :padding-left 20px

#restaurant_plan
  :width 1000px
  :height 1000px
  :background-repeat no-repeat
  :position absolute
  :top 200px
  :left 10px





a#toggle_admin_interface
  :cursor pointer



div.clear
  :clear both



select
  :border 1px solid #AAAAAA

div.flash_notice
  :font-size small
  :font-style italic
  :color green
div.flash_error
  :font-size small
  :font-style italic
  :color red

//helpers==============================

.textleft
  :text-align left

.textright
  :text-align right

//RAILS styles==============================

.fieldWithErrors
  :display inline
  label
    :color = !error_text

.errorExplanation
  :font-size small
  :color = !error_text
  h2
    :font-size 110%



div.invoice
  :background-color white
  :float left
  :width 320px
  :font-family Monospace
  :font-size 150%
  :color #333
  :padding 30px 10px
  :margin 10px
  :letter-spacing -1.5px
  form
    :min-height 250px
  table
    :border-collapse collapse
    :margin-bottom 20px


tr.simple_invoice
  :cursor pointer
  td
    :padding 6px 0
  
tr.simple_invoice:hover
  :background-color #EEE


input#print_invoice
  :vertical-align middle

input#split_invoice
  :vertical-align middle
  
a#edit_invoice img
  :vertical-align middle
  
select#cost_center_for_invoice
  :vertical-align middle
  :font-size 170%
  :width 160px
