!link_color = white
!error_text = #C00
!lightgray = #EEE
!darkgray = #999
!middlegray = #444
!background = #333
!adminbackground = #222

//global settings==============================

body
  :font-family Trebuchet MS
  :color #CCC
  :padding 0px
  :margin 0px 30px
  :font-size 85%
  :background-color #0e1d25
  :background-image url('/images/bg.png')
  :background-repeat repeat-x

img
  :border none
  
h1
  :margin 0

h2
  :text-transform uppercase
  :margin 0px

h3
  :text-transform uppercase
  :margin-bottom 0px
a
  :color = !link_color

fieldset
  :border-style outset

legend
  :font
    :style italic
    :weight bold

label
  :margin-right 0px

th
  :text-align left


//main layout ==================================

div#main
  :border 3px solid white
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  :padding 20px
  :background-color #0e1d25
  :min-height 560px
  :width 930px
  :margin auto
  :position relative

div#copyright
  :margin auto
  :width 970px
  p
    :margin 5px 0px

div.metaelements
  :float right

div#header
  :height 130px
  :width 970px
  :margin auto
  
div#admin
  :border 3px solid white
  :border-top none
  :margin-left 130px
  :position absolute
  :width 835px
  :-moz-border-radius 5px
  :-webkit-border-radius 5px
  
div#functions
  :float right
  :width 4%
  :vertical-align top
  :margin-right 3px
  :padding-top 70px
  a, div
    :cursor pointer
    :margin-bottom 20px

div#footer
  :height 50px
  :clear both

div#functions a
  :cursor pointer

div#footer a
  :float right
  :margin-right 0px
  :cursor pointer

div#login
  :margin auto
  :width 300px
  :margin-top 130px
  label
    :display inline-block
    :margin-bottom -10px
    :font-weight bold
    :width 70px
  
//normal style definitions =============================


div.fieldWithErrors
  :color red
      
div.adminlinks
  :padding 10px

div.adminlinks a,
a.links
  :display inline-block
  :margin-left 1px
  :margin-bottom 5px
  :background-color white
  :-moz-border-radius 3px
  :-webkit-border-radius 3px
  :color black
  :text-decoration none
  :text-transform uppercase
  :font-size 70%
  :padding 8px
  :border 1px solid #666
div.adminlinks a:hover,
a.links:hover
  :background-color = !background
  :color white

a.logout
  :right 440px
  :top -45px
  :font-size 120%
  :text-transform none

table.settlements
  :border-collapse collapse
  td
    :width 30px
    :text-align right
  .subtotal
    :font
      :weight bold
    :text-align right
  .colsum
    :font-style italic
  .total td
    :border-top 1px solid darkgrey
    :font-weight bold


  th
    :border 1px solid !darkgray
    :text-align center

table.waiterpad
  :border-spacing 0px
  :font-size 70%
  :font-family Trebuchet MS
  :border 2px solid gray
  :width 190pt
  :float left
  th
    :text-transform uppercase
    :background-color lightgray
    :font-size 80%
  td, th
    :border-bottom 1px solid black
    :height 20pt
    :text-align center
    :vertical-align middle
  .borderright
    :border-right 1px solid black
  tr.logo
    :height 40pt
    td
      :vertical-align top
      :padding-top 25pt

  tr.sum
    :height 40pt
    :background-color lightgray

table.articles td
  :padding-right 30px
  :width 190px

div.settlements
  :border 1px solid black

div.table
  :border 1px solid gray
  :padding 0px
  :margin 0px
  :text-align center
  :-moz-box-shadow 0px 0px 8px black
  :-moz-border-radius 6px
  :-webkit-box-shadow 0px 0px 8px black
  :-webkit-border-radius 6px



span.orderid
  :font-size 150%

div.occupied
  :-moz-box-shadow 0px 0px 8px #35586a
  :-webkit-box-shadow 0px 0px 8px #35586a
  
div.vacant
  :background-color #0d161a
  
div.vacant:hover
  :background-color #192932



span.small
  :font-size 90%

ul#search_results
  :list-style-type none
  :padding 0
  :margin 0

.hover
  :background-color #FFFFCC
  //:border 2px solid black

ul#articles_search_results
  :padding 0px



#restaurant_plan
  :width 1000px
  :height 1000px
  :background-repeat no-repeat
  :position absolute
  :top 200px
  :left 10px





a#toggle_admin_interface
  :cursor pointer
  :position absolute



div.clear
  :clear both

div.flash
  :width 970px
  :margin auto
  :padding-left 150px


select
  :border 1px solid #AAAAAA




//helpers==============================

.textleft
  :text-align left

.textright
  :text-align right




input#print_invoice,
input#split_invoice,
input#storno_item,
a#edit_invoice img,
a#go_back img
  :vertical-align middle

div.invoice
  :float left
  
select#cost_center_for_invoice
  :vertical-align middle
  :font-size 170%
  :width 160px
  
table.detailed_list
  :margin 20px
  :border-collapse collapse
  :color #BBB
  th
    :border-left 1px solid gray
    :border-right 1px solid gray
    :padding 5px 10px
    :color white
  td
    :vertical-align top
    :border-right 1px solid gray
    :padding 0px 10px
  td.order_begin
    :padding 20px 0 5px 10px
    :font-size 120%
    :border none
  td.colsum
    :border none
    :text-align right
  td.number
    :text-align right
  td.subtotal
    :font-size 120%
    :padding-bottom 20px
    :text-align right
    :color white
    :border none
  td.total
    :font-size 150%
    :color white
    :font-weight bold
    :text-align right
    :border none
    
table.article
  td
    :vertical-align top
    
table.articles
  :border-spacing 10px
  td.receiving
    :background-color #304345
  td#drop_remove
    :background-color #304345
    li
      :margin-top 20px
    span.info
      :margin-right 10px
    span.description
    
  td
    :vertical-align top
    :background-color #243239
    :border 1px solid #7e868a
    :padding 10px
    a
      :text-decoration none
    li
      :list-style-type none
    ul
      :list-style-type none
      :padding-left 10px
    span.scope_title
      :text-transform uppercase
      :font-weight bold
    a.scopelink
      :text-decoration underline
      :float right
    p.category_title
      :padding-top 25px
      :margin 0px
      :font-weight bold
      :font-style italic
      
table.article_new
  :background-color #243239
  :border 1px solid #7e868a
  :border-spacing 10px
  td.labels
    :width 125px
  td.input_fields
    :width 280px
  td.spinner
    :width 20px
  td#articles_search_results
    :width 300px
  td
    :vertical-align top
    a
      :text-decoration none
    li
      :list-style-type none
      :padding-top 5px
    ul
      :list-style-type none
      :padding-left 0px
    span.header_search_results
      :text-transform uppercase
      :font-weight bold

table#quantities_new
  :background-color #243239
  :border 1px solid #7e868a
  :border-collapse collapse
  td
    :padding 10px 4px
    
img#logo
  :float right
  :margin-top 50px

form#client_data_form
  label
    :display inline-block
    :width 180px

input.prefix
  :width 100px

input.postfix
  :width 150px

input.price
  :width 50px


select#move_order_to_table
  :font-size 150%
  :width 50px
  :margin-bottom 15px

form#quick_order_form
  :display none




// =========== ORDERS VIEW ===================
!buttoncolor = #27343b
!itembgcolor = #556
!articlelistbgcolor = #3a474d



div#categories
  :display inline-block
  :width 28%
  :vertical-align top

div#articles
  :display inline-block
  :width 18%
  :vertical-align top
  
div#quantities
  :display inline-block
  :width 15%
  :vertical-align top
  
div#items
  :display inline-block
  :width 32%
  :border 1px solid !buttoncolor
  :vertical-align top

table#articlestable
  :border-spacing 1px
  :width 100%

table#itemstable
  :border-spacing 1px
  :table-layout fixed
  :width 100%
  td
    :padding 5px

#save_order,
#finish_order
  :margin 5px 0
  :cursor pointer

div.category,
div.article,
div.quantity
  :margin 1px 0px 0px 1px
  :background-color #27343b
  :background-repeat no-repeat
  :background-position center center
  :cursor pointer

div.category,
div.article,
div.quantity,
td.item_count,
td.item_minus,
td.item_label,
td.item_options,
td.ordersum_container
  :border-top 2px solid #555
  :border-left 2px solid #555
  :border-right 2px solid #222
  :border-bottom 2px solid #222
  :background-color #3A474D


div.category
  :float left
  :width 80px
  :height 80px
  :overflow hidden


div.category_label
  :width 65px
  :height 65px
  :font-size 9px
  :text-transform uppercase
  :position relative
  span
    :position absolute
    :top 66px
    :left 2px



div.article,
div.quantity
  :background-color = !buttoncolor
  :vertical-align middle
  :padding 8px 0 8px 10px



td.item_count
  :cursor pointer
  :width 30px
  :background-color = #3a474d
  :text-align center
  :font-size 150%

td.item_minus
  :width 17%
  :cursor pointer
  :text-align center
  :background-image url(/images/button_ipod_minus.png)
  :background-position center
  :background-repeat no-repeat

td.item_label
  :cursor pointer
  :overflow hidden
  :background-color = !articlelistbgcolor
  :min-height 30px
  :word-wrap break-word

td.item_options
  :width 15%
  :text-align center
  a
    :background-image url(/images/button_ipod_check.png)
    :background-repeat no-repeat
    :display block
    :height 38px
    :width 41px
  select
    :opacity .6
    :background-color black
    :border 0px
    :position relative
    :left -245px
    :width 295px
    :z-index 10
    option
      :color white
      :font-size 200%
  
  
select#order_user_id
  :font-size 160%

select#target_table
  :font-size 160%
  :width 50px
  :margin 20px 0 20px 0

#order_info
  :position absolute
  :text-align right
  :top -45px
  :right 400px

fieldset.new_foods
  :width 280px

fieldset.articles
  :width 280px

div.waiter
  :position absolute
  :top -45px
  :right 220px


div.button
  :background-color white
  :-moz-border-radius 2px
  :width 120px
  :height 26px
  a
    :color black
    :text-transform uppercase
    :text-decoration none
    
input#order_sum
  :background-color transparent
  :color white
  :border none
  :font-size 122%
  :width 170px
  :text-align right
  
div.ordersum_container
  :background-color #556067
  :height 30px
  :font-size 130%
  :padding-left 20px

table#unsettled_orders
  :margin 20px
  :border-spacing 10px
  a.make_settlement
    :float right
    :text-decoration underline
  span.username
    :text-transform uppercase
    :font-weight bold
  td
    :vertical-align top
    :border 1px solid gray
    :padding 10px
    :background-color #243239
    :padding 10px
    :width 230px
    a
      :text-decoration none

img.more
  :float right
  :margin-top 2px
  
  
table.printed_invoice
  :border 2px solid #7e868a
  :border-collapse collapse
  td, th
    :border 1px solid #7e868a
    :padding 3px
  .one
    :width 30px
    :text-align center
  .two
    :width 200px
    :text-align left
  .three
    :width 80px
    :text-align right
  .four
    :width 30px
    :text-align center
  .five
    :width 80px
    :text-align right
    
table.printed_taxes
  :border 2px solid #7e868a
  :border-collapse collapse
  td, th
    :border 1px solid #7e868a
    :padding 3px
  .one
    :width 30px
    :text-align center
  .two
    :width 30px
    :text-align left
  .three
    :width 60px
    :text-align right
  .four
    :width 60px
    :text-align center
  .five
    :width 60px
    :text-align right


div#room1_button
  :background-image url(/images/button_ipod_room1.png)

div#room2_button
  :background-image url(/images/button_ipod_room2.png)

div#room3_button
  :background-image url(/images/button_ipod_room3.png)

div#room4_button
  :background-image url(/images/button_ipod_room4.png)


