%tr{ :id => "item_DESIGNATOR", :designator => 'DESIGNATOR', :class => "item" }
  %td{ :id => "tablerow_DESIGNATOR_count", :class => 'item_count', :onclick => "increment_item('DESIGNATOR'); highlight_button(this);" } COUNT

  %td{ :id => "tablerow_DESIGNATOR_label", :class => "item_label", :onclick => "display_configuration_of_item('DESIGNATOR'); highlight_button(this);" }
    %span LABEL
    %small
      %br
      CURRENCY
      %span{ :id => "price_DESIGNATOR" } PRICE
      %span{ :id => "comment_DESIGNATOR" } COMMENT
      %div{ :id => "scribe_DESIGNATOR" } SCRIBE
      %div{ :id => "optionsnames_DESIGNATOR" } OPTIONSNAMES

  %td{ :id => "tablerow_DESIGNATOR_minus", :class => 'item_minus', :onclick => "decrement_item('DESIGNATOR'); highlight_button(this);" }

  %td{ :id => "tablerow_DESIGNATOR_options", :class => 'item_options' }
    %a{ :onclick => "open_options_div('DESIGNATOR');" }
    %div.optionsselect{ :id => "options_div_DESIGNATOR" }
      %h3= t 'activerecord.models.option.other'
      %span.done{ :onclick => "close_options_div('DESIGNATOR');", :title => "#{t('.done')}" }
    %div.comment_for_item{ :id => "comment_for_item_DESIGNATOR" }
      %p= t :please_enter_item_comment
      %span.display_keyboard{ :id => "comment_for_item_DESIGNATOR_display_keyboard" }
      %input{ :id => "comment_for_item_DESIGNATOR", :onkeyup => "catch_keypress('DESIGNATOR','comment');" }
      %div.enter_comment_or_price{ :id => "enter_comment_for_item_DESIGNATOR", :onclick => "add_comment_to_item('DESIGNATOR');" }
    %div.price_for_item{ :id => "price_for_item_DESIGNATOR" }
      %p= t :please_enter_item_price
      %span.display_keyboard{ :id => "price_for_item_DESIGNATOR_display_keyboard" }
      %input{ :id => "price_for_item_DESIGNATOR", :onkeyup => "catch_keypress('DESIGNATOR','price');" }
      %div.enter_comment_or_price{ :id => "enter_price_for_item_DESIGNATOR", :onclick => "add_price_to_item('DESIGNATOR');" }