body {
  font-size: 85%; }

div.partial {
  position: absolute; }

div.page {
  width: 800px;
  height: 480px;
  background-repeat: no-repeat;
  position: absolute;
  display: none;
  float: left; }
  div.page img {
    -moz-box-shadow: 0px 0px 8px black;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 8px black;
    -webkit-border-radius: 10px; }

div.previous_page_button,
div.next_page_button {
  float: left;
  height: 400px;
  width: 50px;
  margin: 0 10px; }

div.previous_page_button a,
div.next_page_button a {
  color: black;
  display: block;
  height: 400px;
  width: 50px;
  background-repeat: no-repeat;
  background-position: center center; }

div.next_page_button a {
  background-image: url("/images/arrow_page_right.png"); }

div.previous_page_button a {
  background-image: url("/images/arrow_page_left.png"); }
