h1, h6, #login_logout, .metanavi, div#admin, div#buttons {
  display: none; }

table {
  border-spacing: 0px;
  font-size: small; }

table.waiterpad {
  border-spacing: 0px;
  font-size: 70%;
  font-family: Trebuchet MS;
  border: 2px solid gray;
  width: 190pt;
  float: left; }
  table.waiterpad th {
    text-transform: uppercase;
    background-color: lightgray;
    font-size: 80%; }
  table.waiterpad td, table.waiterpad th {
    border-bottom: 1px solid black;
    height: 20pt;
    text-align: center;
    vertical-align: middle; }
  table.waiterpad .borderright {
    border-right: 1px solid black; }
  table.waiterpad tr.logo {
    height: 40pt; }
    table.waiterpad tr.logo td {
      vertical-align: top;
      padding-top: 25pt; }
  table.waiterpad tr.sum {
    height: 40pt;
    background-color: lightgray; }

table.printed_invoice {
  border: 0.1pt solid black; }
  table.printed_invoice td, table.printed_invoice th {
    border: 0.1pt solid black;
    padding: 3pt; }
  table.printed_invoice .one {
    width: 30pt;
    text-align: center; }
  table.printed_invoice .two {
    width: 200pt;
    text-align: left; }
  table.printed_invoice .three {
    width: 80pt;
    text-align: right; }
  table.printed_invoice .four {
    width: 30pt;
    text-align: center; }
  table.printed_invoice .five {
    width: 80pt;
    text-align: right; }

table.printed_taxes {
  border: 0.1pt solid black; }
  table.printed_taxes td, table.printed_taxes th {
    border: 0.1pt solid black;
    padding: 3pt; }
  table.printed_taxes .one {
    width: 30pt;
    text-align: center; }
  table.printed_taxes .two {
    width: 30pt;
    text-align: left; }
  table.printed_taxes .three {
    width: 30pt;
    text-align: right; }
  table.printed_taxes .four {
    width: 30pt;
    text-align: center; }
  table.printed_taxes .five {
    width: 30pt;
    text-align: right; }
