body {
  font-family: sans;
  padding: 20px;
  margin: 0;
  padding: 10px; }

h1 {
  margin: 0; }

h6 {
  color: green;
  margin: 10px 0 0 0;
  font-style: italic; }

a {
  color: #770000; }

table {
  font-size: small; }

.textleft {
  text-align: left; }

.textright {
  text-align: right; }

#content {
  float: left;
  margin-top: 10px; }

.sidebar {
  float: right;
  background-color: #eeeeee;
  margin-left: 20px;
  width: 150px;
  padding: 20px; }

#login_logout {
  text-align: right;
  font-size: small; }

#sidebar a,
.metanavi a {
  text-decoration: none; }
  #sidebar a:hover,
  .metanavi a:hover {
    text-decoration: underline; }

.fieldWithErrors {
  display: inline; }
  .fieldWithErrors label {
    color: #cc0000; }

.errorExplanation {
  font-size: small;
  color: #cc0000; }
  .errorExplanation h2 {
    font-size: 110%; }

td {
  vertical-align: top; }

fieldset {
  border-style: outset;
  background-color: #eeeeee; }

fieldset.new_foods {
  width: 280px; }

fieldset.articles {
  width: 280px;
  font-size: small; }

legend {
  font-style: italic;
  font-weight: bold;
  font-size: small; }

table {
  border-spacing: 0; }

.metanavi {
  background-color: #eeeeee;
  padding: 5px; }
  .metanavi a {
    margin: 5px; }

label {
  font-size: small;
  margin-right: 10px; }

th {
  text-align: left; }

.category {
  background-color: #eeeeee; }

table.settlements {
  font-size: 70%; }
  table.settlements td {
    width: 30px;
    text-align: right;
    background-color: #eeeeee;
    border-right: 3px solid white;
    border-bottom: 1px solid white; }
  table.settlements .sum {
    background-color: #dddddd;
    border-top: 2px solid;
    font-weight: bold;
    text-align: right; }
  table.settlements .colsum {
    background-color: #dddddd;
    font-style: italic; }
  table.settlements .br {
    border-right: 3px solid;
    border-right-color: #999999; }
  table.settlements .bb {
    border-bottom: 3px solid;
    border-bottom-color: #999999; }
  table.settlements th {
    background-color: #eeeeee;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    text-align: center; }

table.waiterpad {
  border-spacing: 0px;
  font-size: 70%;
  font-family: Trebuchet MS;
  border: 2px solid gray;
  width: 190pt;
  float: left; }
  table.waiterpad th {
    text-transform: uppercase;
    background-color: lightgray;
    font-size: 80%; }
  table.waiterpad td, table.waiterpad th {
    border-bottom: 1px solid black;
    height: 20pt;
    text-align: center;
    vertical-align: middle; }
  table.waiterpad .borderright {
    border-right: 1px solid black; }
  table.waiterpad tr.logo {
    height: 40pt; }
    table.waiterpad tr.logo td {
      vertical-align: top;
      padding-top: 25pt; }
  table.waiterpad tr.sum {
    height: 40pt;
    background-color: lightgray; }

table.articles td {
  padding-right: 30px; }

div.settlements {
  border: 1px solid black; }

div.table {
  border: 1px solid gray;
  padding: 5px;
  margin: 0;
  float: left; }

.occupied {
  background-color: #eeeeee; }

.vacant {
  background-color: #999999; }

table#items td {
  background-color: none;
  padding: 3px;
  border-top: 2px solid white;
  border-bottom: 2px solid white; }

span.small {
  font-size: small; }

ul#search_results {
  font-size: small;
  list-style-type: none;
  padding: 0;
  margin: 0; }

.hover {
  background-color: #FFFFCC; }

ul#articles_search_results {
  padding: 0px; }

ul#menucard_list,
ul#waiterpad_list,
ul#blackboard_list {
  padding: 0;
  list-style-type: none; }
  ul#menucard_list ul,
  ul#waiterpad_list ul,
  ul#blackboard_list ul {
    list-style-type: none;
    padding-left: 20px; }

#restaurant_plan {
  width: 1000px;
  height: 1000px;
  background-repeat: no-repeat;
  position: absolute;
  top: 200px;
  left: 10px; }

fl
