<style type="text/css">
.customer-list {
  position: absolute;
  left: 10%;
  top: 1%;
  width: 80%;
  background-color: #0E1D25;
  border: 1px solid white;
  opacity: 0.7;
  padding: 10px;
}
.customer-list-close {
  width: 10%;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  border: 1px solid white;
  margin-top: 10px;
  margin-left: 3px;
}
.entry {
  margin-bottom: 3px;
  padding: 3px;
}
.entry-add-button {
  font-size: 110%;
  font-weight: bolder;
  padding: 5px;
  width: 20px;
  height: 21px;
  text-align: center;
  border: 1px solid white;
  margin-bottom: 3px;
  margin-right: 20px;
  cursor: pointer;
}
#customer_list_search {
  margin-bottom: 10px;
}
</style>
<script type="text/javascript">
function customer_list_entry(customer) {
  var entry = $('<div class="entry" id="customer_entry_'+customer['id']+'"></div>');
  var btn = $("<span class='entry-add-button' customer_id='"+customer['id']+"'> + </span>");
  btn.mousedown(function () {
                var id = '#customer_name_' + $(this).attr('customer_id');
                var field = $('<input type="hidden" name="order[customer_set][][id]" value="' + $(this).attr('customer_id') + '"/>');
                $("#order_form_ajax").append(field);
                $('#order_info').append("<span class='order-customer'>"+$(id).html()+"</span>");
                $(this).parent().hide();
  });
  entry.append(btn);
  entry.append("<span class='entry-customer-name' id='customer_name_" + customer['id'] + "'>" +customer['first_name']+ " " +customer['last_name']+ "</span>");
  return entry;
}
function customer_list_update() {
  $.getJSON('/customers?format=json&keywords=' + $('#customer_list_search').val() , function (data) {
        $('#customer_list_target').html('');
        for (i in data) {
          $('#customer_list_target').append(customer_list_entry(data[i]['customer']));
        }
  });
}
$(function () {
    var customer_list = $('<div class="customer-list"></div>');
    var srch = $("<input id='customer_list_search' type='text' name='customer_list_search' />");
    srch.keypress(function () {
      if ($(this).val().length > 2) {
        customer_list_update();
      }            
    });
    customer_list.append(srch);
    customer_list.append("<div id='customer_list_target'></div>");
    var btn = $('<div class="customer-list-button">Customers</div>');
    
    $('body').append(customer_list);
    customer_list.hide();
    var cbtn = $("<div class='customer-list-close'> X </div>");
    cbtn.mousedown(function () {
      $('.customer-list').hide();               
    });
    $('.customer-list').append(cbtn);
});
</script>
