%h2= t('activerecord.models.group.other')

=link_to((t :new), new_group_path, :class => 'links') if @current_user.role >= 2

%table
  %tr
    %th{ :style => 'width:200px' }
    %th{ :style => 'width:120px' }
    %th{ :style => 'width:120px' }
  - @groups.each do |gr|
    %tr
      %td= gr.name
      %td= link_to((t :edit), edit_group_path(gr)) if @current_user.role >= 2
      %td= link_to((t :delete), gr, :confirm => (t :are_you_sure), :method => :delete) if @current_user.role >= 3
