- if @current_user.role.permissions.include? 'manage_business_invoice'
  %a.iconbutton.invoice_button{ :href => "/orders/last", :title => t('.show_last_order') }

- if saas_variant?
  %a.iconbutton.print1_button{ :onclick => "window.location.href = '/items.bill';", :title => t('.print_now') }

= button_to '', session_path, :method => :delete, :title => t(:logout, :who => @current_user.login)
