%a.iconbutton.scrolldown_button{ :onclick => '$("html, body").animate({scrollTop: $("#footer").offset().top}, 500);', :title => t(:scroll_down) }
%a.iconbutton.cancel_button{ :onclick => 'go_to_tables_offline();' }
%a.iconbutton.scrollup_button{ :onclick => '$("html, body").animate({scrollTop: $("#container").offset().top}, 500);', :title => t(:scroll_up) }
