- if permit('manage_business_invoice') and not mobile_special?
  %a.iconbutton.invoice_button{ :href => "/orders/last", :title => t('.show_last_order') }
- if permit('manage_hotel')
  %a.iconbutton.invoice_hotel_button{ :href => "/bookings/last", :title => t('.show_last_booking') }

- if mobile_special?
  = link_to '', '/orders/last_invoices', :remote => true, :class => 'iconbutton invoice_button'

- if @current_company.mode == 'saas'
  %a.iconbutton.print1_button{ :onclick => "window.location.href = '/items.bill';", :title => t('.print_now') }

- if permit('see_item_notifications')
  %a.iconbutton.items_notifications_button{ :onclick => '$("#items_notifications").slideDown();', :title => t('.items_notifications') }

- if permit('manage_hotel')
  %a.iconbutton.tables2_button{ :onclick => "toggle_order_booking();", :title => t('.toggle_between_tables_and_rooms') }

= button_to '', session_path, :method => :delete, :title => t(:logout, :who => @current_user.login)
