%a.iconbutton.scrolldown_button{ :onclick => 'scroll_to("#footer",15)', :title => t(:scroll_down) }
%a.iconbutton.cancel_button{ :onclick => 'go_to_tables_offline();' }
%a.iconbutton.scrollup_button{ :onclick => 'scroll_to("#container",15)', :title => t(:scroll_up) }
