- if workstation?
  %a.iconbutton.scrollup_button{ :onclick => 'scroll_for(-200,20)', :title => t(:scroll_up) }

%a.iconbutton.cancel_button{ :onclick => 'go_to_tables_offline();', :title => t(:cancel_and_go_back) }

- if workstation?
  %a.iconbutton.scrolldown_button{ :onclick => 'scroll_for(200,20)', :title => t(:scroll_down) }
