%a.iconbutton.scrolldown_button{ :onclick => 'Effect.ScrollTo("footer", 10);', :title => t(:scroll_down) }
%a#save_and_go_to_tables.iconbutton.tables_button{ :onclick => 'document.getElementById("order_action").value="save_and_go_to_tables"; $("order_form_ajax").request();', :onmouseup => 'this.style.border = "2px solid white"; this.style.backgroundImage = "none";', :title => t(:save_and_go_back) }
%a.iconbutton.cash_button{ :onclick => 'document.getElementById("order_action").value="save_and_go_to_invoice"; $("order_form_ajax").request();', :onmouseup => 'this.style.border = "2px solid white"; this.style.backgroundImage = "none";', :title => t(:finish_order) }
%a.iconbutton.cancel_button{ :onclick => 'go_to_tables_offline();', :title => t(:cancel_and_go_back) }
