%div#functions
  %a.iconbutton.tables_button{ :onclick => 'go_to_tables_offline();', :title => t(:save_and_go_back) }
  %a.iconbutton.scrolldown_button{ :onclick => 'Effect.ScrollTo("footer", 100);', :title => t(:scroll_down) }
      
%div#invoices
      
%div#footer
  - if ipod?
    - # go back 
  %a.iconbutton.scrollup_button{ :onclick => 'Effect.ScrollTo("container", 100);', :title => t(:scroll_up) }
