%h2 INVOICE

%div#functions
  %a.iconbutton.tables_button{ :href => orders_path, :title => t(:cancel_and_go_back) }
  %a.iconbutton.scrolldown_button{ :onclick => 'Effect.ScrollTo("footer", 100);', :title => t(:scroll_down) }
      
%div#invoices
      
%div#footer
  - if ipod?
    %a.iconbutton.tables_button{ :href => orders_path, :title => t(:cancel_and_go_back) }
  %a.iconbutton.scrollup_button{ :onclick => 'Effect.ScrollTo("container", 100);', :title => t(:scroll_up) }
