%h2= t :orders_menu
%div#functions
  %a#print_kitchenlist{ :href => '/items/print.bon', :title => 'Küchenliste' }
    %img{ :src => '/images/button_kitchenlist.png' }
  %a{ :href => @last_finished_order ? order_path(@last_finished_order.id) : '', :title => 'Letzte abgeschlossene Bestellung' }
    %img{ :src => '/images/button_list.png' }
    
= render @tables
