%h2 Bestellungen

.Order_index{ :id => 'tables' }
  - @tables.each do |ta|
    %p
      = ta.name
    - if !ta.orders.empty? and ta.orders.last.finished
      = link_to 'laufende Bestellung', edit_table_order_path(ta, ta.orders.last)
    - else
      = link_to 'Neue Bestellung', new_table_order_path(ta)
