%h2= t :orders_menu
%div#functions
  = link_to( 'Druck', '/items/print.bon' )
%div{ :id => 'restaurant_plan', :style => "background-image: url('images/plan-#{ MyGlobals::client}.jpg');" }
  = render @tables
