%a.scrolldown_button{ :onclick => 'Effect.ScrollTo("footer", 10);', :title => t(:scroll_down) }
  %div.iconbutton.scrolldown_button

%h2= t :storno

%div#invoices
  = render :partial => 'orders/storno_form', :locals => { :storno_form => @order }

%a.scrollup_button{ :onclick => 'Effect.ScrollTo("header", 10);', :title => t(:scroll_up) }
  %div.iconbutton.scrollup_button

%div#footer
