%a.iconbutton.scrolldown_button{ :onclick => 'scroll_to("#footer",10)', :title => t(:scroll_down) }
%a.iconbutton.tables_button{ :href => "#{orders_path}", :title => t(:go_back) }
%h2= t :storno
%div#invoices= render :partial => 'orders/storno_form', :locals => { :storno_form => @order }
%a.iconbutton.scrollup_button{ :onclick => 'scroll_to("#header",10)', :title => t(:scroll_up) }
