%a.iconbutton.scrolldown_button{ :onclick => '$("html, body").animate({scrollTop: $("#footer").offset().top}, 500);', :title => t(:scroll_down) }
%a.iconbutton.tables_button{ :href => "#{orders_path}", :title => t(:go_back) }

%h2= t :storno

%div#invoices
  = render :partial => 'orders/storno_form', :locals => { :storno_form => @order }

%a.iconbutton.scrollup_button{ :onclick => '$("html, body").animate({scrollTop: $("#header").offset().top}, 500);', :title => t(:scroll_up) }
