Source: salor-hospitality
Section: ruby
Priority: extra
Maintainer: Michael Franzl <office@michaelfranzl.com>
Build-Depends: debhelper (>= 8.0.0), po-debconf
Standards-Version: 3.9.3
Homepage: http://thebigrede.net
#Vcs-Git: git://github.com/michaelfranzl/SalorHospitality.git
#Vcs-Browser: https://github.com/michaelfranzl/SalorHospitality

Package: salor-hospitality
Architecture: all
Pre-Depends: dbconfig-common
Depends: ${misc:Depends}, debconf, mysql-server, udev, nodejs, ruby, libruby, ruby-dev, rake, libmysqld-dev, libmysqlclient-dev, libmagickwand-dev, libmagickcore-dev, libxslt1-dev, bundler
Suggests: vim, apt-show-versions, remotesupport, salor-bin, exim4, isc-dhcp-server, expect, ssh, x11vnc, bind9, chromium-browser, salor-helper, salor-tailor, apache2, libapache2-mod-passenger
Description: Innovative Point of Sale Solution serving the Hospitality Industry
 This package consists of a lean Ruby-on-Rails application, backed from a
 MySQL database. The actual Point of Sale interface is entirely controlled
 by offline Javascript and an offline database. This concept unites the
 advantages of networking between many handhelds in one store (or many
 stores of a restaurant/hotel chain) with an amazing responsiveness of the
 user interface (UI).
