#!/bin/sh

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# source dbconfig-common shell library, and call the hook function
if [ -f /usr/share/dbconfig-common/dpkg/config.mysql ]; then
  . /usr/share/dbconfig-common/dpkg/config.mysql 
  dbc_go salor-hospitality $@
fi

#DEBHELPER#