%style{:type => "text/css", :media => "screen"} div.room {  width: 320px; height: 480px;   border: 2px solid white;  }
%style{:type => "text/css", :media => "screen"} div#rooms {  margin: -20px 0 0 -20px;  }

#rooms= render :file => '/orders/_rooms.html.haml'
#tables= render @tables
