%h2= @table.name
%a{ :href => orders_path, :title => 'Bestellungen' }
  %img{ :src => '/images/button_tables.png' }
  
%div#invoices
  - @unfinished_orders.each do |uo|
    %div.invoice
      = render :partial => 'orders/simple_invoice', :locals => { :order => uo }
