%h2= @table.name

%div#functions
  %a{ :href => orders_path, :title => t(:cancel_and_go_back) }
    %div.iconbutton.tables_button
    
  %a{ :onclick => 'Effect.ScrollTo("footer", 100);', :title => t(:scroll_down) }
    %div.iconbutton.scrolldown_button
      
%div#invoices
  - @unfinished_orders.each do |uo|
    %div.invoice
      = render :partial => 'orders/invoice_form', :locals => { :order => uo }
      
%div#footer
  %a{ :onclick => 'Effect.ScrollTo("container", 100);', :title => t(:scroll_up) }
    %div.iconbutton.scrollup_button
