- if workstation?
  %a.iconbutton.scrollup_button{ :onclick => 'scroll_for(-200,20)', :title => t(:scroll_up) }

%a.iconbutton.back_button{ :onclick => "route('tables');", :title => t(:cancel_and_go_back) }

- if workstation?
  %a.iconbutton.scrolldown_button{ :onclick => 'scroll_for(200,20)', :title => t(:scroll_down) }
